.register{
 margin-top: 5%;
}
html, body { overflow-x: hidden; }

.body{
 background: url("../images/404.png") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}